{% extends 'monitorings/monitoring_base.html' %}
{% load crispy_forms_tags i18n %}

{% block head %}
  {{ block.super }}
  <base href="/">
{% endblock head %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% if object %}<li><a href="{{object.get_absolute_url}}">{{object}}</a></li>{% endif %}
    <li class="active">{% trans 'Add monitoring' %}</li>
</ol>
{% endblock %}

{% block content %}
<app mode="editor">loading...</app>
{% endblock %}

{% block javascript %}
  {{block.super}}
  {% include "angular2.html" %}
{% endblock javascript %}

