{% extends 'monitorings/monitoring_base.html' %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="active">{{object}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="fa fa-search" aria-hidden="true"></i> {{object}}</h1>
</div>

{% if monitoring.page_set.all %}
<nav class="secondary__menu" role="group">
    <ul class="secondary__list">
      {% for obj in monitoring.page_set.all %}
      <li class="secondary__item">
        <a href="{% url 'monitorings:pages:details' monitoring_slug=monitoring.slug slug=obj.slug %}" class="secondary__link">{{obj}}</a>
      </li>
      {% endfor %}
    </ul>
</nav>
{% endif %}


<div class="row">
    <div class="col-md-4">
        <div class="red">
            <h2>{% trans 'Design and purpose' %}</h2>
            {% if logo %}
            <img src="{{object.logo.url}}"></img>
            {% endif %}
            {{object.description | safe}}
        </div>
    </div>
    <div class="col-md-8">
        <div class="gray">
            <h2>{% trans 'Covered institutions' %}</h2>
            {% if object.institutions.all %}
            <ul>
                {% for obj in object.institutions.all %}
                <li><a href="{{obj.get_absolute_url}}">{{obj}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>{% trans 'No institutions' %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
