{% extends 'monitorings/monitoring_base.html' %}
{% load i18n %}

{% block buttons %}
{% if perms.monitorings.add_monitoring %}
<a href="{{view.model.get_add_url}}" class="btn btn-primary">{% trans 'Add monitoring' %}</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="grid">
  <div class="grid__sizer">
  </div>
  {% for object in object_list %}
    <div class="grid__item">
      <div class="monitoring">
        <div class="monitoring__icon">

        </div>
        <div class="monitoring__date">
          {{ object.created }}
        </div>
        <div class="monitoring__title">
          <a href="{{object.get_absolute_url}}">{{ object }}</a>
        </div>
        <div class="monitoring__description">
          {{ object.description }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    var msnry = new Masonry( '.grid', {
      columnWidth: '.grid__sizer',
      itemSelector: '.grid__item',
      percentPosition: true
    });
  </script>
{% endblock javascript %}
