{% extends 'monitorings/monitoring_base.html' %}
{% load i18n %}
{% block buttons %}
{% if  perms.monitorings.change_monitoring or perms.monitorings.delete_monitoring or perms.monitoring_pages.add_page %}
<div class="btn-group" role="group">
    {% if perms.monitorings.change_monitoring %}
    <a href="{{object.get_update_url}}" class="btn btn-primary">{% trans 'Update monitoring' %}</a>
    {% endif %}

    {% if perms.monitorings.delete_monitoring %}
    <a href="{{object.get_delete_url}}" class="btn btn-primary">{% trans 'Delete monitoring' %}</a>
    {% endif %}

    {% if perms.monitoring_pages.add_page %}
    <a href="{% url 'monitorings:pages:create' monitoring_slug=object.slug %}" class="btn btn-primary">{% trans 'Add page' %}</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="active">{{object}}</li>
</ol>
{% endblock %}

{% block content %}

{% if monitoring.page_set.all %}
<div class="btn-group" role="group">
    {% for obj in monitoring.page_set.all %}
    <a href="{% url 'monitorings:pages:details' monitoring_slug=monitoring.slug slug=obj.slug %}" class="btn btn-primary">{{obj}}</a>
    {% endfor %}
</div>
{% endif %}

<div class="page-header">
    <h1><i class="fa fa-search"></i>{{object}}</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="red">
            <h2>{% trans 'Design and purpose' %}</h2>
            {% if logo %}
            <img src="{{object.logo.url}}"></img>
            {% endif %}
            {{object.description | safe}}
        </div>
    </div>
    <div class="col-md-8">
        <div class="gray">
            <h2>{% trans 'Covered institutions' %}</h2>
            {% if object.institutions.all %}
            <ul>
                {% for obj in object.institutions.all %}
                <li><a href="{{obj.get_absolute_url}}">{{obj}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>{% trans 'No institutions' %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
