<style>
	.questions{
		border: 8px solid #EEE;
	}
	.questions li{
		border: 8px solid #DDD;
	}
</style>
<h2>Title: {{ monitoring.title }}</h2>
<p>Description: {{ monitoring.description }}</p>
<div class="questions">
    <ul *ngIf="monitoring.questions.length > 0">
        <li *ngFor="let question of monitoring.questions">
            <sowp-question-view [question]="question"></sowp-question-view>
        </li>
    </ul>
    <p *ngIf="!(monitoring.questions.length > 0)">Brak pytań jeszcze</p>
</div>
