<style>
  td{
    border: 1px solid black;
  }
</style>
<table>
  <tr>
    <td>Key</td>
    <td>{{ question.key }}</td>
  </tr>
  <tr>
    <td>Label</td>
    <td>{{ question.label }}</td>
  </tr>
  <tr>
    <td>description</td>
    <td>{{ question.description }}</td>
  </tr>
  <tr>
    <td>Required</td>
    <td>{{ question.required }}</td>
  </tr>
  <tr>
    <td>Order</td>
    <td>{{ question.order }}</td>
  </tr>
  <tr>
    <td>ControlType</td>
    <td>{{ question.controlType }}</td>
  </tr>
</table>
<table [ngSwitch]="question.controlType">
  <tr *ngSwitchWhen="'textbox'">
    <td>Value</td>
    <td>AAA </td>
  </tr>
  <tr *ngSwitchWhen="'dropdown'">
    <td>Value</td>
    <td>{{ question?.value | json}}</td>
  </tr>
  <tr *ngSwitchDefault>
    <td>Full object:</td>
    <td>CC</td>
  </tr>
</table>
