<h3>Informacje podstawowe</h3>
<div class="form-horizontal">
  <div class="form-group">
    <label for="monitoring_title" class="col-sm-2 control-label">Tytuł:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="monitoring.name" id="monitoring_title">
    </div>
  </div>
  <div class="form-group">
    <label for="monitoring_description" class="col-sm-2 control-label">Opis:</label>
    <div class="col-sm-10">
      <app-tinymce [(ngModel)]="monitoring.description"></app-tinymce>
    </div>
  </div>
  <div class="form-group">
    <label for="monitoring_instruction" class="col-sm-2 control-label">Instrukcja:</label>
    <div class="col-sm-10">
        <app-tinymce [(ngModel)]="monitoring.instruction"></app-tinymce>
    </div>
  </div>
</div>
