{% extends 'institutions/institution_base.html' %}
{% load i18n %}
{% block content %}
{% if perms.institutions.change_institution %}
<a href="{{object.get_update_url}}" class="btn btn-primary">{% trans 'Update institution' %}</a>
{% endif %}

{% if perms.institutions.delete_institution %}
<a href="{{object.get_delete_url}}" class="btn btn-primary">{% trans 'Delete institution' %}</a>
{% endif %}


<h1>{{object}}</h1>
{% if logo %}
<img src="{{object.logo.url}}"></img>
{% endif %}
{{object.description | safe}}
<h2>{% trans 'Covered institutions' %}</h2>
{% if object.institutions.all %}
<ul>
{% for obj in object.institutions.all %}
    <li><a href="{{obj.get_absolute_url}}">{{obj}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>{% trans 'No institutions' %}</p>
{% endif %}
{% endblock %}
