{% load staticfiles %}
<div class="footer-partners">
    <div class="partners">
        Projekt realizowany jest przez Sieć Obywatelska oraz partnerów:
        <ul class="partners__list">
            <li class="partners__item">
                <a href="https://siecobywatelska.pl" rel="nofollow"><img src="{% static "partners/a1.png" %}" alt="Sieć Obywatelska Watchdog Polska" /></a>
            </li>
            <li class="partners__item">
                <a href="https://courtwatch.pl/fundacja/court-watch/" rel="nofollow"><img src="{% static "partners/a2.png" %}" alt="Fundacja Court Watch Polska" /></a>
            </li>
            <li class="partners__item">
                <a href="http://www.ceo.org.pl/" rel="nofollow"><img src="{% static "partners/a3.png" %}" alt="Centrum Edukacji Obywatelskiej" /></a>
            </li>
            <li class="partners__item">
                <a href="http://www.hfhr.pl/" rel="nofollow"><img src="{% static "partners/a4.png" %}" alt="Helsińska Fundacja Praw Człowieka" /></a>
            </li>
            <li class="partners__item">
                <a href="http://www.hf.org.pl/" rel="nofollow"><img src="{% static "partners/a5.png" %}" alt="Homo Faber" /></a>
            </li>
        </ul>
    </div>
    <div class="partners">
        Projekt realizowany w ramach Obywatele dla Demokracji finansowanego z Funduszy EOG oraz ze środków Trust for Civil Society in Central and Eastern Europe:
        <ul class="partners__list">
            <li class="partners__item">
                <a href="http://eeagrants.org/" rel="nofollow"><img src="{% static "partners/b1.png" %}" alt="EEA Grants" /></a>
            </li>
            <li class="partners__item">
                <a href="http://www.batory.org.pl/" rel="nofollow"><img src="{% static "partners/b2.png" %}" alt="Fundacja im. Stefana Batorego" /></a>
            </li>
            <li class="partners__item">
                <a href="http://www.pcyf.org.pl/" rel="nofollow"><img src="{% static "partners/b3.png" %}" alt="Polska fundacja dzeici i młodzieży" /></a>
            </li>
            <li class="partners__item">
                <a href="http://www.ceetrust.org/" rel="nofollow"><img src="{% static "partners/b4.png" %}" alt="Trust for Civil Society in Central and Eastern Europe " /></a>
            </li>
        </ul>
    </div>
    <div class="partners">
        Partnerzy medalni:
        <ul class="partners__list">
            <li class="partners__item">
                <a href="http://ngo.pl" rel="nofollow"><img src="{% static "partners/c.jpg" %}" alt="ngo.pl" /></a>
            </li>
        </ul>
    </div>
</div>
