{% load i18n %}
<div class="jumbotron">
  <h1 class="display-3">{% trans 'Near-perfect bulletin!'%}</h1>
  <p class="lead">{% trans 'We want helpful bulletin of public information which will be basic source of information about activities of public bodies.' %}</p>
  <hr class="m-y-2">
  <p>{% trans 'The published information should be current and meet the needs of the community.' %}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">{% trans 'Learn more' %}</a>
  </p>
</div>
