{% extends 'institutions/institution_base.html' %}
{% load i18n crispy_forms_tags bootstrap_pagination %}

{% block buttons %}
{% if perms.institutions.add_institution %}
<a href="{{view.model.get_add_url}}" class="btn btn-primary">
    <i class="fa fa-plus" aria-hidden="true"></i>
    {% trans 'Add institution' %}
</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans "Search institutions" %}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <form method="GET">
            {{ filter.form | crispy }}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i>
                {% trans 'Filtr' %}
            </button>
        </form>
    </div>
    <div class="col-xs-12 col-md-9">
        {% bootstrap_paginate page_obj %}
        {% for object in object_list %}
            <div class="gray">
            <h1><a href="{{object.get_absolute_url}}">{{object}}</a></h1>
            {% if object.stats %}
            {% include 'institutions/_stats.html' with object=object%}
            {% else %}
            <p>{% trans 'No monitorings' %}</p>
            {% endif %}
            </div>
        {% endfor %}
        {% bootstrap_paginate page_obj %}
    </div>
</div>
{% endblock %}


{% block javascript %}
{{block.super}}
{{filter.form.media}}
{% endblock %}
