{% extends 'base.html' %}
{% load i18n %}
{% block buttons %}
{% if perms.institutions.add_institution or perms.institutions.change_institution or perms.institutions.delete_institution %}
{% if object %}
<div class="text-right">
  <div class="btn-group" role="group">
      {% if perms.institutions.change_institution %}
      <a href="{{object.get_update_url}}" class="btn btn-primary">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        {% trans 'Update institution' %}
      </a>
      {% endif %}

      {% if perms.institutions.delete_institution %}
      <a href="{{object.get_delete_url}}" class="btn btn-primary">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {% trans 'Delete institution' %}
      </a>
      {% endif %}
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}
