{% extends 'institutions/institution_base.html' %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% for jst in object.region.get_ancestors.all %}
    <li><a href="{{jst.get_absolute_url}}">{{jst}}</a></li>
    {% endfor %}
    <li><a href="{{object.region.get_absolute_url}}">{{object.region}}</a></li>
    <li class="active">{{object}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="fa fa-home" aria-hidden="true"></i>{{object}}</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="red">
            <h2>{% trans 'Identfication' %}</h2>
            {% if object.regon %}<p>{% trans 'REGON' %}:{{object.regon}}</p>{% endif %}
            {% if object.krs %}<p>{% trans 'KRS' %}:{{object.krs}}</p>{% endif %}
            {% if object.email %}<p>{% trans 'E-mail' %}:<a href="{{object.email}}">{{object.email}}</a></p>{% endif %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="gray">
            {% include 'institutions/_stats.html' with object=object %}
        </div>
    </div>
</div>
{% endblock %}
