{% extends 'institutions/institution_base.html' %}
{% load crispy_forms_tags i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% if object %}
    {% for jst in object.region.get_ancestors.all %}
    <li><a href="{{jst.get_absolute_url}}">{{jst}}</a></li>
    {% endfor %}
    <li><a href="{{object.region.get_absolute_url}}">{{object.region}}</a></li>
    <li><a href="{{object.get_absolute_url}}">{{object}}</a></li>
    {% endif %}
    <li class="active">
    {% if object %}{% trans 'Update institution' %}{% else %}{% trans 'Add institution' %}{% endif %}
    </li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
      {% if object %}{% trans 'Update institution' %}{% else %}{% trans 'Add institution' %}{% endif %}
    </h1>
</div>
{% crispy form %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
{{ form.media }}
{% endblock %}
