{% extends 'institutions/institution_base.html' %}
{% load crispy_forms_tags i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% if object %}
    {% for jst in object.region.get_ancestors.all %}
    <li><a href="{{jst.get_absolute_url}}">{{jst}}</a></li>
    {% endfor %}
    <li><a href="{{object.region.get_absolute_url}}">{{object.region}}</a></li>
    <li><a href="{{object.get_absolute_url}}">{{object}}</a></li>
    {% endif %}
    <li class="active">
    {% if object %}{% trans 'Update institution' %}{% else %}{% trans 'Add institution' %}{% endif %}
    </li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
      {% if object %}{% trans 'Update institution' %}{% else %}{% trans 'Add institution' %}{% endif %}
    </h1>
</div>
{% crispy form %}
{% endblock %}

{% block javascript %}
{{block.super}}
{{ form.media }}
  <script>
    $(function() {
      var monitoring = +'{{ monitoring.pk | default:'-1' }}';
      var debounce = function(wait, func, immediate) {
        var timeout;
        return function() {
          var context = this, args = arguments;
          var later = function() {
            timeout = null;
            if (!immediate) func.apply(context, args);
          };
          var callNow = immediate && !timeout;
          clearTimeout(timeout);
          timeout = setTimeout(later, wait);
          if (callNow) func.apply(context, args);
        };
      };

      function handleResponse(data){
          console.log(data);
          var group = $(this).closest('.form-group');
          var controls = $(this).closest('.controls');
          controls.find('.help-block').remove();
          if(data.count > 0){
            var institution = data.results[0];

            var help_block = $('<div class="help-block">Już taka istnieje. </div>');

            var link = $('<a></a>');
            link.text(institution.name);
            link.attr('href', '/institutions/institution-' + institution.slug);
            link.appendTo(help_block);

            controls.append(help_block);

            group.addClass('has-error');
          }else{
            group.removeClass('has-error');
          }
      };

      $('#id_krs').on('keyup input', debounce(250, function(ev){
        var input = ev.target;
        var value = input.value;
        $.ajax('/api/institutions/?krs=' + value)
          .then(handleResponse.bind(input));
      }));

      $('#id_regon').on('keyup input', debounce(250, function(ev){
        var input = ev.target;
        var value = input.value;
        $.ajax('/api/institutions/?regon=' + value)
          .then(handleResponse.bind(input));
      }));

    });
  </script>


{% endblock %}
