{% extends 'monitoring_pages/page_base.html' %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{object.monitoring.get_absolute_url}}">{{object.monitoring}}</a></li>
    <li class="active">{{object}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1><i class="fa fa-search" aria-hidden="true"></i> {{object.monitoring}}</h1>
</div>

<h2><i class="fa fa-book" aria-hidden="true"></i> {{object}}</h2>
{% with monitoring=object.monitoring page_set=monitoring.page_set.all %}
  <nav class="secondary__menu" role="group">
      <ul class="secondary__list">
        <li class="secondary__item">
          <a href="{{monitoring.get_absolute_url}}" class="secondary__link">{% trans 'Home' %}</a>
        </li>
        {% for obj in page_set %}
        {% if obj == object %}
        <li class="secondary__item secondary__item--active">
          {{obj}}
        </li>
        {% else %}
        <li class="secondary__item">
          <a href="{% url 'monitorings:pages:details' monitoring_slug=monitoring.slug slug=obj.slug %}" class="secondary__link">{{obj}}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
  </nav>
{% endwith %}
<div class="row">
    <div class="col-md-12">
        <div class="gray">
            {{object.content | safe}}
        </div>
    </div>
</div>
{% endblock %}
