{% extends 'monitoring_pages/page_base.html' %}
{% load i18n %}
{% block buttons %}
{% if perms.monitoring_pages.change_page or perms.monitoring_pages.delete_page %}
<div class="btn-group" role="group">
    {% if perms.monitoring_pages.change_page %}
    <a href="{{object.get_update_url}}" class="btn btn-primary">{% trans 'Update page' %}</a>
    {% endif %}

    {% if perms.monitoring_pages.delete_page %}
    <a href="{{object.get_delete_url}}" class="btn btn-primary">{% trans 'Delete page' %}</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{object.monitoring.get_absolute_url}}">{{object.monitoring}}</a></li>
    <li class="active">{{object}}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="fa fa-search"></i>{{object}}</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="gray">
            {{object.content | safe}}
        </div>
    </div>
</div>
{% endblock %}
